# Data Analysis

In [ ]:
# 1. Import the customer data into python

In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
customer_data=pd.read_excel("C:/Users/HP/Desktop/AnalytixLabs/PYTHON\/PANDAS/3. Pandas Case Study-1/Customer.xlsx",encoding='latin1')

customer_data

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,2013/01/30,West,Gujarat,Surat,2013-02-16,West,Gujarat,Surat,2032.00000,2,200.0,0.0
1,129627580,M,2013/01/29,North,Delhi,Delhi,2013-01-29,North,Delhi,Delhi,1709.00000,1,100.0,0.0
2,130363481,M,2013/02/21,West,Gujarat,Surat,2013-02-21,West,Gujarat,Surat,523.00000,1,10.0,0.0
3,49817480,M,2013/02/22,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0
4,126343829,F,2013/03/01,North,Delhi,Delhi,2013-03-01,North,Delhi,Delhi,1008.00000,1,60.0,0.0
5,8223758,F,2013/03/14,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,2606.90000,1,1140.0,0.0
6,131816709,M,2013/03/18,South,Andhra Pradesh,Visakhapatnam,2013-03-18,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0
7,118543320,F,2013/03/21,North,Uttar Pradesh,Kanpur,2013-03-21,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0
8,131365512,M,2013/03/23,East,West Bengal,Kolkata,2013-03-31,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0
9,758571,M,2013/03/24,South,Karnataka,Bangalore,2013-03-25,West,Maharashtra,Thane,2677.80000,3,145.0,0.0
10,85489184,M,2012/01/01,West,Maharashtra,Nagpur,2012-01-01,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0
11,85438231,M,2012/01/03,West,Maharashtra,Mumbai,2012-11-11,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0
12,74053888,F,2012/01/02,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,9142.49700,10,639.0,2.0
13,7256956,M,2012/01/02,North,Rajasthan,Jaipur,2012-11-26,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0
14,1610085,F,2012/01/03,North,Delhi,Delhi,2012-10-13,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,2012/01/04,North,Uttar Pradesh,Kanpur,2013-01-23,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
16,8638553,M,2012/01/03,West,Gujarat,Ahmedabad,2012-01-03,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0
17,85438392,M,2012/01/03,West,Gujarat,Ahmedabad,2013-02-12,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0
18,63508964,M,2012/01/06,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,2012/01/07,West,Maharashtra,Nagpur,2013-03-13,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,2012/01/08,South,Karnataka,Bangalore,2013-03-07,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,2012/01/10,South,Andhra Pradesh,Visakhapatnam,2012-12-29,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
22,86066230,M,2012/01/11,West,Gujarat,Vadodara,2012-01-11,West,Gujarat,Vadodara,900.50000,1,100.0,0.0
23,6888521,M,2012/01/12,West,Maharashtra,Thane,2012-12-10,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0
24,87030390,M,2012/01/11,East,West Bengal,Kolkata,2013-03-02,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
25,85645488,M,2012/01/11,North,Madhya Pradesh,Bhopal,2012-01-11,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0
26,12935950,M,2012/01/13,West,Gujarat,Surat,2012-06-23,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,2012/01/15,North,Madhya Pradesh,Indore,2013-01-18,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
28,84437746,M,2012/01/15,East,West Bengal,Kolkata,2013-02-22,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0
29,7514232,M,2012/01/14,North,Delhi,Delhi,2013-01-08,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,2012/01/15,West,Gujarat,Rajkot,2013-03-30,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,2012/01/15,North,Delhi,Delhi,2013-02-22,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9972,10184222,M,2012/01/16,North,Uttar Pradesh,Kanpur,2012-10-14,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0
9973,88092811,M,2012/01/16,West,Gujarat,Surat,2013-02-22,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,2012/01/19,West,Gujarat,Surat,2013-03-19,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,2012/01/18,West,Maharashtra,Thane,2012-05-24,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,2012/01/18,South,Telangana,Hyderabad,2013-01-14,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9977,90964885,M,2012/01/21,West,Gujarat,Surat,2012-01-21,West,Gujarat,Surat,198.00000,1,0.0,0.0
9978,87989417,M,2012/01/27,West,Gujarat,Surat,2012-01-27,West,Gujarat,Surat,929.99900,1,50.0,0.0
9979,6005239,M,2012/01/29,East,West Bengal,Kolkata,2012-11-27,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,2012/01/30,West,Gujarat,Surat,2013-03-12,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9981,414338,M,2012/01/31,West,Gujarat,Surat,2012-01-31,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9982,9144258,M,2012/01/30,South,Tamil Nadu,Chennai,2013-03-13,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,2012/01/30,East,West Bengal,Kolkata,2013-03-10,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,2012/02/01,West,Gujarat,Surat,2013-03-10,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,2012/01/31,North,Madhya Pradesh,Indore,2012-12-11,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9986,69453769,M,2012/02/01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9987,7060195,M,2012/02/02,West,Gujarat,Ahmedabad,2013-03-28,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9988,91095093,M,2012/02/01,South,Telangana,Hyderabad,2012-02-01,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9989,91098168,M,2012/02/01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9990,91227615,M,2012/02/03,West,Gujarat,Surat,2012-02-03,West,Gujarat,Surat,617.00000,1,35.0,0.0
9991,91136028,M,2012/02/03,West,Maharashtra,Mumbai,2012-05-23,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9992,794622,F,2012/02/03,West,Gujarat,Surat,2012-05-08,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9993,91289992,M,2012/02/05,West,Maharashtra,Pimpri-Chinchwad,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9994,73876936,M,2012/02/05,West,Gujarat,Surat,2013-02-18,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9995,50093138,M,2012/02/08,North,Uttar Pradesh,Agra,2012-11-14,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,2012/02/09,South,Telangana,Hyderabad,2013-03-19,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,2012/02/10,South,Karnataka,Bangalore,2013-02-16,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9998,69606859,M,2012/02/15,North,Uttar Pradesh,Lucknow,2012-02-15,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9999,113292109,M,2012/02/17,West,Maharashtra,Mumbai,2012-02-17,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0

In [2]:
pandas_profiling.ProfileReport(customer_data)

In [3]:
#2. Understand the data using different functions and attributes like shape, index, columns, dtypes.ndim, info(), 
#get_dtype_counts etc.

In [4]:

print(customer_data.info())
print(customer_data.index)
print(customer_data.columns)

print(customer_data.dtypes)
print(customer_data.shape)
print(customer_data.ndim)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Customer_ID        10000 non-null int64
Gender             9986 non-null object
First_Date         10000 non-null object
First_region       9979 non-null object
First_state        9983 non-null object
First_city         10000 non-null object
Recent_Date        10000 non-null datetime64[ns]
Last_region        10000 non-null object
Last_state         10000 non-null object
Last_city          10000 non-null object
Customer_Value     9964 non-null float64
Buy_Times          10000 non-null int64
Points_Earned      9979 non-null float64
Points_Redeemed    9988 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(8)
memory usage: 1.1+ MB
None
RangeIndex(start=0, stop=10000, step=1)
Index(['Customer_ID', 'Gender', 'First_Date', 'First_region', 'First_state',
       'First_city', 'Recent_Date', 'Last_region', 'Last_state', 'Last_city',
       'Customer_Value', 'Buy_Times', 'Points_Earned', 'Points_Redeemed'],
      dtype='object')
Customer_ID                 int64
Gender                     object
First_Date                 object
First_region               object
First_state                object
First_city                 object
Recent_Date        datetime64[ns]
Last_region                object
Last_state                 object
Last_city                  object
Customer_Value            float64
Buy_Times                   int64
Points_Earned             float64
Points_Redeemed           float64
dtype: object
(10000, 14)
2

In [5]:
#3. What is percentage of missing values for customer Value variable?

In [6]:
customer_data.isnull().sum()*100/1000

Customer_ID        0.0
Gender             1.4
First_Date         0.0
First_region       2.1
First_state        1.7
First_city         0.0
Recent_Date        0.0
Last_region        0.0
Last_state         0.0
Last_city          0.0
Customer_Value     3.6
Buy_Times          0.0
Points_Earned      2.1
Points_Redeemed    1.2
dtype: float64

In [7]:
#4. Create two subsets with unique and duplicate values.

In [8]:
a=customer_data[customer_data.duplicated()]
b=customer_data[-(customer_data.duplicated())]
print(a)
print(b)

      Customer_ID Gender  First_Date First_region     First_state  \
9973     88092811      M  2012/01/16         West         Gujarat
9974     84750517      F  2012/01/19         West         Gujarat
9975      5686217      M  2012/01/18         West     Maharashtra
9976     63669926      M  2012/01/18        South       Telangana
9977     90964885      M  2012/01/21         West         Gujarat
9978     87989417      M  2012/01/27         West         Gujarat
9979      6005239      M  2012/01/29         East     West Bengal
9980     91066310      M  2012/01/30         West         Gujarat
9981       414338      M  2012/01/31         West         Gujarat
9982      9144258      M  2012/01/30        South      Tamil Nadu
9983     91076263      F  2012/01/30         East     West Bengal
9984     85012902      M  2012/02/01         West         Gujarat
9985     14762484      M  2012/01/31        North  Madhya Pradesh
9986     69453769      M  2012/02/01        South      Tamil Nadu
9987      7060195      M  2012/02/02         West         Gujarat
9988     91095093      M  2012/02/01        South       Telangana
9989     91098168      M  2012/02/01        South      Tamil Nadu
9990     91227615      M  2012/02/03         West         Gujarat
9991     91136028      M  2012/02/03         West     Maharashtra
9992       794622      F  2012/02/03         West         Gujarat
9993     91289992      M  2012/02/05         West     Maharashtra
9994     73876936      M  2012/02/05         West         Gujarat
9995     50093138      M  2012/02/08        North   Uttar Pradesh
9996     92763145      M  2012/02/09        South       Telangana
9997     73839417      M  2012/02/10        South       Karnataka
9998     69606859      M  2012/02/15        North   Uttar Pradesh
9999    113292109      M  2012/02/17         West     Maharashtra

            First_city Recent_Date Last_region      Last_state  \
9973             Surat  2013-02-22        West         Gujarat
9974             Surat  2013-03-19        West         Gujarat
9975             Thane  2012-05-24        West         Gujarat
9976         Hyderabad  2013-01-14       South       Telangana
9977             Surat  2012-01-21        West         Gujarat
9978             Surat  2012-01-27        West         Gujarat
9979           Kolkata  2012-11-27       South       Telangana
9980             Surat  2013-03-12        West         Gujarat
9981             Surat  2012-01-31        West         Gujarat
9982           Chennai  2013-03-13        West     Maharashtra
9983           Kolkata  2013-03-10        East     West Bengal
9984             Surat  2013-03-10        West         Gujarat
9985            Indore  2012-12-11       North  Madhya Pradesh
9986           Chennai  2012-02-01       South      Tamil Nadu
9987         Ahmedabad  2013-03-28        West         Gujarat
9988         Hyderabad  2012-02-01       South       Telangana
9989           Chennai  2012-02-01       South      Tamil Nadu
9990             Surat  2012-02-03        West         Gujarat
9991            Mumbai  2012-05-23       South       Karnataka
9992             Surat  2012-05-08        West         Gujarat
9993  Pimpri-Chinchwad  2012-02-05        West     Maharashtra
9994             Surat  2013-02-18        West         Gujarat
9995              Agra  2012-11-14       North   Uttar Pradesh
9996         Hyderabad  2013-03-19       South       Telangana
9997         Bangalore  2013-02-16       South       Karnataka
9998           Lucknow  2012-02-15       North   Uttar Pradesh
9999            Mumbai  2012-02-17        West     Maharashtra

             Last_city  Customer_Value  Buy_Times  Points_Earned  \
9973             Surat       14786.600         12          337.0
9974             Surat       20696.900         11         1935.0
9975             Surat       16858.099         11          915.0
9976         Hyderabad       12863.000          4         1030.0
9977             Surat         198.000          1            0.0
9978             Surat         929.999          1           50.0
9979         Hyderabad       12246.800          6          600.0
9980             Surat       11723.000         10          475.0
9981             Surat        1080.000          1            0.0
9982            Mumbai       42195.099         23         4441.0
9983           Kolkata       34492.901         14         1591.0
9984             Surat       30123.300          9         1555.0
9985            Bhopal       88407.500         23         4317.0
9986           Chennai         480.000          1           10.0
9987         Ahmedabad        6693.200          3          645.0
9988         Hyderabad         825.997          1           55.0
9989           Chennai         408.000          1            0.0
9990             Surat         617.000          1           35.0
9991         Bangalore        4383.801          5           10.0
9992             Surat        8081.000          4          594.0
9993  Pimpri-Chinchwad        1069.000          1           81.0
9994             Surat        8059.599          5          647.0
9995              Agra       13818.600          7         1195.0
9996         Hyderabad       13016.500          7          870.0
9997         Bangalore       44057.900         11         2242.0
9998           Lucknow        1116.000          1            0.0
9999            Mumbai        1222.000          1           60.0

      Points_Redeemed
9973            300.0
9974              0.0
9975              0.0
9976              0.0
9977              0.0
9978              0.0
9979              0.0
9980              0.0
9981              0.0
9982              0.0
9983              0.0
9984              0.0
9985              0.0
9986            580.0
9987              0.0
9988              0.0
9989              0.0
9990              0.0
9991            370.0
9992              0.0
9993              0.0
9994              0.0
9995           1800.0
9996              0.0
9997            585.0
9998            310.0
9999              0.0
      Customer_ID Gender  First_Date First_region     First_state  \
0       129609144      M  2013/01/30         West         Gujarat
1       129627580      M  2013/01/29        North           Delhi
2       130363481      M  2013/02/21         West         Gujarat
3        49817480      M  2013/02/22         West     Maharashtra
4       126343829      F  2013/03/01        North           Delhi
5         8223758      F  2013/03/14         West         Gujarat
6       131816709      M  2013/03/18        South  Andhra Pradesh
7       118543320      F  2013/03/21        North   Uttar Pradesh
8       131365512      M  2013/03/23         East     West Bengal
9          758571      M  2013/03/24        South       Karnataka
10       85489184      M  2012/01/01         West     Maharashtra
11       85438231      M  2012/01/03         West     Maharashtra
12       74053888      F  2012/01/02         West         Gujarat
13        7256956      M  2012/01/02        North       Rajasthan
14        1610085      F  2012/01/03        North           Delhi
15        7518872      M  2012/01/04        North   Uttar Pradesh
16        8638553      M  2012/01/03         West         Gujarat
17       85438392      M  2012/01/03         West         Gujarat
18       63508964      M  2012/01/06         West     Maharashtra
19       23667984      F  2012/01/07         West     Maharashtra
20       84634600      M  2012/01/08        South       Karnataka
21       85207999      M  2012/01/10        South  Andhra Pradesh
22       86066230      M  2012/01/11         West         Gujarat
23        6888521      M  2012/01/12         West     Maharashtra
24       87030390      M  2012/01/11         East     West Bengal
25       85645488      M  2012/01/11        North  Madhya Pradesh
26       12935950      M  2012/01/13         West         Gujarat
27       10954886      F  2012/01/15        North  Madhya Pradesh
28       84437746      M  2012/01/15         East     West Bengal
29        7514232      M  2012/01/14        North           Delhi
...           ...    ...         ...          ...             ...
9943     91066310      M  2012/01/30         West         Gujarat
9944       414338      M  2012/01/31         West         Gujarat
9945      9144258      M  2012/01/30        South      Tamil Nadu
9946     91076263      F  2012/01/30         East     West Bengal
9947     85012902      M  2012/02/01         West         Gujarat
9948     14762484      M  2012/01/31        North  Madhya Pradesh
9949     69453769      M  2012/02/01        South      Tamil Nadu
9950      7060195      M  2012/02/02         West         Gujarat
9951     91095093      M  2012/02/01        South       Telangana
9952     91098168      M  2012/02/01        South      Tamil Nadu
9953     91227615      M  2012/02/03         West         Gujarat
9954     91136028      M  2012/02/03         West     Maharashtra
9955       794622      F  2012/02/03         West         Gujarat
9956     91289992      M  2012/02/05         West     Maharashtra
9957     73876936      M  2012/02/05         West         Gujarat
9958     50093138      M  2012/02/08        North   Uttar Pradesh
9959     92763145      M  2012/02/09        South       Telangana
9960     73839417      M  2012/02/10        South       Karnataka
9961     69606859      M  2012/02/15        North   Uttar Pradesh
9962    113292109      M  2012/02/17         West     Maharashtra
9963      5989720      F  2012/01/09        North   Uttar Pradesh
9964     74054076      F  2012/01/10        North   Uttar Pradesh
9965     86103480      M  2012/01/12         West     Maharashtra
9966     63594593      M  2012/01/12         East     West Bengal
9967     87998623      M  2012/01/12         East     West Bengal
9968     60082781      M  2012/01/15        North         Haryana
9969     88068705      M  2012/01/16         West         Gujarat
9970      5599557      F  2012/01/15         West         Gujarat
9971      7956527      F  2012/01/15        North           Delhi
9972     10184222      M  2012/01/16        North   Uttar Pradesh

            First_city Recent_Date Last_region      Last_state  \
0                Surat  2013-02-16        West         Gujarat
1                Delhi  2013-01-29       North           Delhi
2                Surat  2013-02-21        West         Gujarat
3     Pimpri-Chinchwad  2013-02-22        West     Maharashtra
4                Delhi  2013-03-01       North           Delhi
5                Surat  2013-03-14        West         Gujarat
6        Visakhapatnam  2013-03-18       South  Andhra Pradesh
7               Kanpur  2013-03-21       North   Uttar Pradesh
8              Kolkata  2013-03-31        East     West Bengal
9            Bangalore  2013-03-25        West     Maharashtra
10              Nagpur  2012-01-01        West     Maharashtra
11              Mumbai  2012-11-11        East     West Bengal
12               Surat  2013-03-14        West         Gujarat
13              Jaipur  2012-11-26       North       Rajasthan
14               Delhi  2012-10-13       North           Delhi
15              Kanpur  2013-01-23       North   Uttar Pradesh
16           Ahmedabad  2012-01-03        West         Gujarat
17           Ahmedabad  2013-02-12       South       Telangana
18    Pimpri-Chinchwad  2013-02-22        West     Maharashtra
19              Nagpur  2013-03-13        West     Maharashtra
20           Bangalore  2013-03-07       South       Karnataka
21       Visakhapatnam  2012-12-29       South  Andhra Pradesh
22            Vadodara  2012-01-11        West         Gujarat
23               Thane  2012-12-10        West     Maharashtra
24             Kolkata  2013-03-02        East     West Bengal
25              Bhopal  2012-01-11       North  Madhya Pradesh
26               Surat  2012-06-23        West         Gujarat
27              Indore  2013-01-18       North  Madhya Pradesh
28             Kolkata  2013-02-22       South       Karnataka
29               Delhi  2013-01-08       North           Delhi
...                ...         ...         ...             ...
9943             Surat  2013-03-12        West         Gujarat
9944             Surat  2012-01-31        West         Gujarat
9945           Chennai  2013-03-13        West     Maharashtra
9946           Kolkata  2013-03-10        East     West Bengal
9947             Surat  2013-03-10        West         Gujarat
9948            Indore  2012-12-11       North  Madhya Pradesh
9949           Chennai  2012-02-01       South      Tamil Nadu
9950         Ahmedabad  2013-03-28        West         Gujarat
9951         Hyderabad  2012-02-01       South       Telangana
9952           Chennai  2012-02-01       South      Tamil Nadu
9953             Surat  2012-02-03        West         Gujarat
9954            Mumbai  2012-05-23       South       Karnataka
9955             Surat  2012-05-08        West         Gujarat
9956  Pimpri-Chinchwad  2012-02-05        West     Maharashtra
9957             Surat  2013-02-18        West         Gujarat
9958              Agra  2012-11-14       North   Uttar Pradesh
9959         Hyderabad  2013-03-19       South       Telangana
9960         Bangalore  2013-02-16       South       Karnataka
9961           Lucknow  2012-02-15       North   Uttar Pradesh
9962            Mumbai  2012-02-17        West     Maharashtra
9963           Lucknow  2013-02-21       North   Uttar Pradesh
9964            Kanpur  2012-11-17       North   Uttar Pradesh
9965            Mumbai  2012-01-12        West     Maharashtra
9966          Siliguri  2013-02-04        East     West Bengal
9967          Durgapur  2013-02-28       North   Uttar Pradesh
9968           Gurgaon  2012-02-20       North   Uttar Pradesh
9969             Surat  2012-07-04        West         Gujarat
9970            Rajkot  2013-03-30        West         Gujarat
9971             Delhi  2013-02-22       North           Delhi
9972            Kanpur  2012-10-14       North   Uttar Pradesh

             Last_city  Customer_Value  Buy_Times  Points_Earned  \
0                Surat      2032.00000          2          200.0
1                Delhi      1709.00000          1          100.0
2                Surat       523.00000          1           10.0
3     Pimpri-Chinchwad      5132.00000          1          170.0
4                Delhi      1008.00000          1           60.0
5                Surat      2606.90000          1         1140.0
6        Visakhapatnam      1369.00000          1           79.0
7               Kanpur      5690.00000          1          360.0
8              Kolkata      2555.00000          2          190.0
9                Thane      2677.80000          3          145.0
10              Nagpur       855.00000          1           35.0
11            Bhatpara      5969.00000          5          294.0
12               Surat      9142.49700         10          639.0
13              Jaipur      8019.60000          5          609.0
14               Delhi     10380.19900          6         1189.0
15              Kanpur     14587.00000          6          865.0
16           Ahmedabad      1011.00000          1          115.0
17           Hyderabad      6065.30000          5          485.0
18    Pimpri-Chinchwad    145472.70200         36          680.0
19              Nagpur     19640.70000         12          268.0
20           Bangalore     32377.60200         22         1029.0
21       Visakhapatnam     17202.40000         13          449.0
22            Vadodara       900.50000          1          100.0
23    Pimpri-Chinchwad      4588.99900          4          190.0
24             Kolkata     33047.00400         31          141.0
25              Bhopal       878.00000          1           80.0
26           Ahmedabad     18358.00000          6          874.0
27              Indore     15426.39800         13         1672.0
28           Bangalore      5415.00100          6          736.0
29               Delhi     51692.99900         29         4275.0
...                ...             ...        ...            ...
9943             Surat     11723.00000         10          475.0
9944             Surat      1080.00000          1            0.0
9945            Mumbai     42195.09900         23         4441.0
9946           Kolkata     34492.90100         14         1591.0
9947             Surat     30123.30000          9         1555.0
9948            Bhopal     88407.50000         23         4317.0
9949           Chennai       480.00000          1           10.0
9950         Ahmedabad      6693.20000          3          645.0
9951         Hyderabad       825.99700          1           55.0
9952           Chennai       408.00000          1            0.0
9953             Surat       617.00000          1           35.0
9954         Bangalore      4383.80100          5           10.0
9955             Surat      8081.00000          4          594.0
9956  Pimpri-Chinchwad      1069.00000          1           81.0
9957             Surat      8059.59900          5          647.0
9958              Agra     13818.60000          7         1195.0
9959         Hyderabad     13016.50000          7          870.0
9960         Bangalore     44057.90000         11         2242.0
9961           Lucknow      1116.00000          1            0.0
9962            Mumbai      1222.00000          1           60.0
9963           Lucknow      5408.80000          3          375.0
9964            Kanpur     13485.10100         10          166.0
9965            Mumbai       408.00000          1            0.0
9966          Siliguri     10379.00000          4          495.0
9967            Kanpur     24378.00000          9         1506.0
9968         Ghaziabad      3281.90100          4          335.0
9969             Surat     10996.00000          3          680.0
9970            Rajkot     74662.77636         36           22.0
9971             Delhi     66082.19900         37         2385.0
9972            Kanpur      2031.00100          2          215.0

      Points_Redeemed
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0
5                 0.0
6                 0.0
7                 0.0
8                 0.0
9                 0.0
10                0.0
11                0.0
12                2.0
13                0.0
14                0.0
15                0.0
16                0.0
17                0.0
18            16635.0
19             2549.0
20             1771.0
21                0.0
22                0.0
23                0.0
24             2214.0
25                0.0
26                0.0
27                0.0
28                0.0
29               12.0
...               ...
9943              0.0
9944              0.0
9945              0.0
9946              0.0
9947              0.0
9948              0.0
9949            580.0
9950              0.0
9951              0.0
9952              0.0
9953              0.0
9954            370.0
9955              0.0
9956              0.0
9957              0.0
9958           1800.0
9959              0.0
9960            585.0
9961            310.0
9962              0.0
9963              0.0
9964            810.0
9965              0.0
9966              0.0
9967              0.0
9968            100.0
9969              0.0
9970          10472.0
9971          13520.0
9972              0.0

[9973 rows x 14 columns]

In [9]:
#5. Create data set with list of customers whose customer value greater than 10000.

In [10]:
customer_data[customer_data.Customer_Value>10000]

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
14,1610085,F,2012/01/03,North,Delhi,Delhi,2012-10-13,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,2012/01/04,North,Uttar Pradesh,Kanpur,2013-01-23,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
18,63508964,M,2012/01/06,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,2012/01/07,West,Maharashtra,Nagpur,2013-03-13,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,2012/01/08,South,Karnataka,Bangalore,2013-03-07,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,2012/01/10,South,Andhra Pradesh,Visakhapatnam,2012-12-29,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
24,87030390,M,2012/01/11,East,West Bengal,Kolkata,2013-03-02,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
26,12935950,M,2012/01/13,West,Gujarat,Surat,2012-06-23,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,2012/01/15,North,Madhya Pradesh,Indore,2013-01-18,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
29,7514232,M,2012/01/14,North,Delhi,Delhi,2013-01-08,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
30,328670,M,2012/01/15,North,Delhi,Delhi,2013-03-02,North,Delhi,Delhi,10547.79600,11,574.0,2120.0
31,237645,M,2012/01/17,North,Madhya Pradesh,Indore,2013-03-18,North,Madhya Pradesh,Indore,173171.70000,34,12737.0,0.0
32,36292837,M,2012/01/18,West,Gujarat,Surat,2013-03-13,West,Gujarat,Surat,18412.20000,19,158.0,1260.0
35,73792250,M,2012/01/28,West,Gujarat,Surat,2013-03-05,West,Gujarat,Surat,29460.00000,6,2440.0,0.0
37,73957360,M,2012/01/29,West,Gujarat,Surat,2013-03-06,West,Gujarat,Surat,28291.29800,29,225.0,1886.0
38,8068420,F,2012/01/31,North,Uttar Pradesh,Kanpur,2013-02-24,South,Tamil Nadu,Chennai,11316.00100,6,684.0,267.0
39,3021033,M,2012/01/31,South,Karnataka,Bangalore,2013-02-18,South,Karnataka,Bangalore,48674.40100,6,244.0,2270.0
40,5912830,F,2012/02/02,East,West Bengal,South Dumdum,2013-03-18,East,Jharkhand,Dhanbad,15478.00000,9,1895.0,0.0
42,9046409,M,2012/02/06,West,Maharashtra,Mumbai,2013-03-27,West,Maharashtra,Mumbai,20520.80000,13,641.0,780.0
43,93630,M,2012/02/08,West,Gujarat,Surat,2013-02-02,West,Gujarat,Surat,11148.00000,7,960.0,0.0
44,85323066,F,2012/02/08,West,Maharashtra,Mumbai,2013-02-02,West,Maharashtra,Mumbai,41852.79800,16,1453.0,415.0
45,303753,M,2012/02/08,North,Madhya Pradesh,Indore,2013-03-21,North,Madhya Pradesh,Indore,54342.00000,32,2061.0,9320.0
46,49886011,F,2012/02/08,West,Maharashtra,Mumbai,2012-05-18,South,Karnataka,Bangalore,15092.80000,5,1381.0,0.0
50,85613515,M,2012/02/13,West,Gujarat,Surat,2013-03-12,West,Gujarat,Surat,37192.00100,13,1837.0,540.0
53,55802349,F,2012/02/24,West,Gujarat,Ahmedabad,2013-02-25,West,Gujarat,Ahmedabad,15695.50000,9,983.0,0.0
54,84874275,M,2012/02/24,West,Maharashtra,Pimpri-Chinchwad,2013-03-22,West,Maharashtra,Pimpri-Chinchwad,107078.39900,37,4083.0,0.0
55,6898330,F,2012/02/27,West,Gujarat,Surat,2013-03-08,West,Gujarat,Surat,20211.90000,17,1205.0,0.0
57,113932157,F,2012/03/02,West,Gujarat,Surat,2013-02-01,West,Gujarat,Surat,32085.69800,16,537.0,2401.0
58,1747708,F,2012/03/03,South,Karnataka,Bangalore,2013-03-24,North,Madhya Pradesh,Indore,18881.78574,14,588.0,2481.0
59,2780625,M,2012/03/03,West,Gujarat,Surat,2013-01-24,West,Gujarat,Surat,16471.90100,9,555.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,5686217,M,2012/01/18,West,Maharashtra,Thane,2012-05-24,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9939,63669926,M,2012/01/18,South,Telangana,Hyderabad,2013-01-14,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9942,6005239,M,2012/01/29,East,West Bengal,Kolkata,2012-11-27,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9943,91066310,M,2012/01/30,West,Gujarat,Surat,2013-03-12,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9945,9144258,M,2012/01/30,South,Tamil Nadu,Chennai,2013-03-13,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,2012/01/30,East,West Bengal,Kolkata,2013-03-10,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,2012/02/01,West,Gujarat,Surat,2013-03-10,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,2012/01/31,North,Madhya Pradesh,Indore,2012-12-11,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9958,50093138,M,2012/02/08,North,Uttar Pradesh,Agra,2012-11-14,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,2012/02/09,South,Telangana,Hyderabad,2013-03-19,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,2012/02/10,South,Karnataka,Bangalore,2013-02-16,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9964,74054076,F,2012/01/10,North,Uttar Pradesh,Kanpur,2012-11-17,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9966,63594593,M,2012/01/12,East,West Bengal,Siliguri,2013-02-04,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,2012/01/12,East,West Bengal,Durgapur,2013-02-28,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9969,88068705,M,2012/01/16,West,Gujarat,Surat,2012-07-04,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,2012/01/15,West,Gujarat,Rajkot,2013-03-30,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,2012/01/15,North,Delhi,Delhi,2013-02-22,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9973,88092811,M,2012/01/16,West,Gujarat,Surat,2013-02-22,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,2012/01/19,West,Gujarat,Surat,2013-03-19,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,2012/01/18,West,Maharashtra,Thane,2012-05-24,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,2012/01/18,South,Telangana,Hyderabad,2013-01-14,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9979,6005239,M,2012/01/29,East,West Bengal,Kolkata,2012-11-27,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,2012/01/30,West,Gujarat,Surat,2013-03-12,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9982,9144258,M,2012/01/30,South,Tamil Nadu,Chennai,2013-03-13,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,2012/01/30,East,West Bengal,Kolkata,2013-03-10,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,2012/02/01,West,Gujarat,Surat,2013-03-10,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,2012/01/31,North,Madhya Pradesh,Indore,2012-12-11,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9995,50093138,M,2012/02/08,North,Uttar Pradesh,Agra,2012-11-14,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,2012/02/09,South,Telangana,Hyderabad,2013-03-19,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,2012/02/10,South,Karnataka,Bangalore,2013-02-16,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0

In [11]:
#6. In customer table, create a new variable called â€œcustomer value segmentâ€ using customer value as follows. -  
#- High Value Segment - > 25000  
#- Medium Value Segment â€“ Between 10000 and 25000  
#- Low Value Segment â€“ less than or equal to 10000

In [12]:
def seg(x):
    for x in customer_data.Customer_Value:
        if x>=25000:
            return 'High Value Segment'
        elif x>25000 and x<10000:
            return 'Medium Value Segment'
        else:
            return 'Low Value Segment'
customer_data['customer value segment']= customer_data['Customer_Value'].apply(seg)
customer_data

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,customer value segment
0,129609144,M,2013/01/30,West,Gujarat,Surat,2013-02-16,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment
1,129627580,M,2013/01/29,North,Delhi,Delhi,2013-01-29,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment
2,130363481,M,2013/02/21,West,Gujarat,Surat,2013-02-21,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment
3,49817480,M,2013/02/22,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment
4,126343829,F,2013/03/01,North,Delhi,Delhi,2013-03-01,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment
5,8223758,F,2013/03/14,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment
6,131816709,M,2013/03/18,South,Andhra Pradesh,Visakhapatnam,2013-03-18,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment
7,118543320,F,2013/03/21,North,Uttar Pradesh,Kanpur,2013-03-21,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment
8,131365512,M,2013/03/23,East,West Bengal,Kolkata,2013-03-31,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment
9,758571,M,2013/03/24,South,Karnataka,Bangalore,2013-03-25,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment
10,85489184,M,2012/01/01,West,Maharashtra,Nagpur,2012-01-01,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment
11,85438231,M,2012/01/03,West,Maharashtra,Mumbai,2012-11-11,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment
12,74053888,F,2012/01/02,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment
13,7256956,M,2012/01/02,North,Rajasthan,Jaipur,2012-11-26,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment
14,1610085,F,2012/01/03,North,Delhi,Delhi,2012-10-13,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Low Value Segment
15,7518872,M,2012/01/04,North,Uttar Pradesh,Kanpur,2013-01-23,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Low Value Segment
16,8638553,M,2012/01/03,West,Gujarat,Ahmedabad,2012-01-03,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment
17,85438392,M,2012/01/03,West,Gujarat,Ahmedabad,2013-02-12,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment
18,63508964,M,2012/01/06,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,Low Value Segment
19,23667984,F,2012/01/07,West,Maharashtra,Nagpur,2013-03-13,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Low Value Segment
20,84634600,M,2012/01/08,South,Karnataka,Bangalore,2013-03-07,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,Low Value Segment
21,85207999,M,2012/01/10,South,Andhra Pradesh,Visakhapatnam,2012-12-29,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Low Value Segment
22,86066230,M,2012/01/11,West,Gujarat,Vadodara,2012-01-11,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment
23,6888521,M,2012/01/12,West,Maharashtra,Thane,2012-12-10,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment
24,87030390,M,2012/01/11,East,West Bengal,Kolkata,2013-03-02,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,Low Value Segment
25,85645488,M,2012/01/11,North,Madhya Pradesh,Bhopal,2012-01-11,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment
26,12935950,M,2012/01/13,West,Gujarat,Surat,2012-06-23,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Low Value Segment
27,10954886,F,2012/01/15,North,Madhya Pradesh,Indore,2013-01-18,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Low Value Segment
28,84437746,M,2012/01/15,East,West Bengal,Kolkata,2013-02-22,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment
29,7514232,M,2012/01/14,North,Delhi,Delhi,2013-01-08,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,Low Value Segment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,2012/01/15,West,Gujarat,Rajkot,2013-03-30,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,Low Value Segment
9971,7956527,F,2012/01/15,North,Delhi,Delhi,2013-02-22,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,Low Value Segment
9972,10184222,M,2012/01/16,North,Uttar Pradesh,Kanpur,2012-10-14,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment
9973,88092811,M,2012/01/16,West,Gujarat,Surat,2013-02-22,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Low Value Segment
9974,84750517,F,2012/01/19,West,Gujarat,Surat,2013-03-19,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Low Value Segment
9975,5686217,M,2012/01/18,West,Maharashtra,Thane,2012-05-24,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Low Value Segment
9976,63669926,M,2012/01/18,South,Telangana,Hyderabad,2013-01-14,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Low Value Segment
9977,90964885,M,2012/01/21,West,Gujarat,Surat,2012-01-21,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment
9978,87989417,M,2012/01/27,West,Gujarat,Surat,2012-01-27,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment
9979,6005239,M,2012/01/29,East,West Bengal,Kolkata,2012-11-27,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Low Value Segment
9980,91066310,M,2012/01/30,West,Gujarat,Surat,2013-03-12,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Low Value Segment
9981,414338,M,2012/01/31,West,Gujarat,Surat,2012-01-31,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment
9982,9144258,M,2012/01/30,South,Tamil Nadu,Chennai,2013-03-13,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,Low Value Segment
9983,91076263,F,2012/01/30,East,West Bengal,Kolkata,2013-03-10,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,Low Value Segment
9984,85012902,M,2012/02/01,West,Gujarat,Surat,2013-03-10,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,Low Value Segment
9985,14762484,M,2012/01/31,North,Madhya Pradesh,Indore,2012-12-11,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,Low Value Segment
9986,69453769,M,2012/02/01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment
9987,7060195,M,2012/02/02,West,Gujarat,Ahmedabad,2013-03-28,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment
9988,91095093,M,2012/02/01,South,Telangana,Hyderabad,2012-02-01,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment
9989,91098168,M,2012/02/01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment
9990,91227615,M,2012/02/03,West,Gujarat,Surat,2012-02-03,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment
9991,91136028,M,2012/02/03,West,Maharashtra,Mumbai,2012-05-23,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment
9992,794622,F,2012/02/03,West,Gujarat,Surat,2012-05-08,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment
9993,91289992,M,2012/02/05,West,Maharashtra,Pimpri-Chinchwad,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment
9994,73876936,M,2012/02/05,West,Gujarat,Surat,2013-02-18,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment
9995,50093138,M,2012/02/08,North,Uttar Pradesh,Agra,2012-11-14,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Low Value Segment
9996,92763145,M,2012/02/09,South,Telangana,Hyderabad,2013-03-19,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Low Value Segment
9997,73839417,M,2012/02/10,South,Karnataka,Bangalore,2013-02-16,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,Low Value Segment
9998,69606859,M,2012/02/15,North,Uttar Pradesh,Lucknow,2012-02-15,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment
9999,113292109,M,2012/02/17,West,Maharashtra,Mumbai,2012-02-17,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment

In [13]:
#7. Create variables â€œaverage revenue per tripâ€ and â€œbalance pointsâ€ in the customer data set.

In [14]:
customer_data['average revenue per trip']=(customer_data.Customer_Value*customer_data.Buy_Times)
customer_data['balance points']=(customer_data.Points_Earned - customer_data.Points_Redeemed)

In [15]:
customer_data

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,customer value segment,average revenue per trip,balance points
0,129609144,M,2013/01/30,West,Gujarat,Surat,2013-02-16,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment,4.064000e+03,200.0
1,129627580,M,2013/01/29,North,Delhi,Delhi,2013-01-29,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment,1.709000e+03,100.0
2,130363481,M,2013/02/21,West,Gujarat,Surat,2013-02-21,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment,5.230000e+02,10.0
3,49817480,M,2013/02/22,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment,5.132000e+03,170.0
4,126343829,F,2013/03/01,North,Delhi,Delhi,2013-03-01,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment,1.008000e+03,60.0
5,8223758,F,2013/03/14,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment,2.606900e+03,1140.0
6,131816709,M,2013/03/18,South,Andhra Pradesh,Visakhapatnam,2013-03-18,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment,1.369000e+03,79.0
7,118543320,F,2013/03/21,North,Uttar Pradesh,Kanpur,2013-03-21,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment,5.690000e+03,360.0
8,131365512,M,2013/03/23,East,West Bengal,Kolkata,2013-03-31,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment,5.110000e+03,190.0
9,758571,M,2013/03/24,South,Karnataka,Bangalore,2013-03-25,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment,8.033400e+03,145.0
10,85489184,M,2012/01/01,West,Maharashtra,Nagpur,2012-01-01,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment,8.550000e+02,35.0
11,85438231,M,2012/01/03,West,Maharashtra,Mumbai,2012-11-11,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment,2.984500e+04,294.0
12,74053888,F,2012/01/02,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment,9.142497e+04,637.0
13,7256956,M,2012/01/02,North,Rajasthan,Jaipur,2012-11-26,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment,4.009800e+04,609.0
14,1610085,F,2012/01/03,North,Delhi,Delhi,2012-10-13,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Low Value Segment,6.228119e+04,1189.0
15,7518872,M,2012/01/04,North,Uttar Pradesh,Kanpur,2013-01-23,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Low Value Segment,8.752200e+04,865.0
16,8638553,M,2012/01/03,West,Gujarat,Ahmedabad,2012-01-03,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment,1.011000e+03,115.0
17,85438392,M,2012/01/03,West,Gujarat,Ahmedabad,2013-02-12,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment,3.032650e+04,485.0
18,63508964,M,2012/01/06,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,Low Value Segment,5.237017e+06,-15955.0
19,23667984,F,2012/01/07,West,Maharashtra,Nagpur,2013-03-13,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Low Value Segment,2.356884e+05,-2281.0
20,84634600,M,2012/01/08,South,Karnataka,Bangalore,2013-03-07,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,Low Value Segment,7.123072e+05,-742.0
21,85207999,M,2012/01/10,South,Andhra Pradesh,Visakhapatnam,2012-12-29,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Low Value Segment,2.236312e+05,449.0
22,86066230,M,2012/01/11,West,Gujarat,Vadodara,2012-01-11,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment,9.005000e+02,100.0
23,6888521,M,2012/01/12,West,Maharashtra,Thane,2012-12-10,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment,1.835600e+04,190.0
24,87030390,M,2012/01/11,East,West Bengal,Kolkata,2013-03-02,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,Low Value Segment,1.024457e+06,-2073.0
25,85645488,M,2012/01/11,North,Madhya Pradesh,Bhopal,2012-01-11,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment,8.780000e+02,80.0
26,12935950,M,2012/01/13,West,Gujarat,Surat,2012-06-23,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Low Value Segment,1.101480e+05,874.0
27,10954886,F,2012/01/15,North,Madhya Pradesh,Indore,2013-01-18,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Low Value Segment,2.005432e+05,1672.0
28,84437746,M,2012/01/15,East,West Bengal,Kolkata,2013-02-22,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment,3.249001e+04,736.0
29,7514232,M,2012/01/14,North,Delhi,Delhi,2013-01-08,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,Low Value Segment,1.499097e+06,4263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,2012/01/15,West,Gujarat,Rajkot,2013-03-30,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,Low Value Segment,2.687860e+06,-10450.0
9971,7956527,F,2012/01/15,North,Delhi,Delhi,2013-02-22,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,Low Value Segment,2.445041e+06,-11135.0
9972,10184222,M,2012/01/16,North,Uttar Pradesh,Kanpur,2012-10-14,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment,4.062002e+03,215.0
9973,88092811,M,2012/01/16,West,Gujarat,Surat,2013-02-22,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Low Value Segment,1.774392e+05,37.0
9974,84750517,F,2012/01/19,West,Gujarat,Surat,2013-03-19,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Low Value Segment,2.276659e+05,1935.0
9975,5686217,M,2012/01/18,West,Maharashtra,Thane,2012-05-24,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Low Value Segment,1.854391e+05,915.0
9976,63669926,M,2012/01/18,South,Telangana,Hyderabad,2013-01-14,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Low Value Segment,5.145200e+04,1030.0
9977,90964885,M,2012/01/21,West,Gujarat,Surat,2012-01-21,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment,1.980000e+02,0.0
9978,87989417,M,2012/01/27,West,Gujarat,Surat,2012-01-27,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment,9.299990e+02,50.0
9979,6005239,M,2012/01/29,East,West Bengal,Kolkata,2012-11-27,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Low Value Segment,7.348080e+04,600.0
9980,91066310,M,2012/01/30,West,Gujarat,Surat,2013-03-12,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Low Value Segment,1.172300e+05,475.0
9981,414338,M,2012/01/31,West,Gujarat,Surat,2012-01-31,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment,1.080000e+03,0.0
9982,9144258,M,2012/01/30,South,Tamil Nadu,Chennai,2013-03-13,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,Low Value Segment,9.704873e+05,4441.0
9983,91076263,F,2012/01/30,East,West Bengal,Kolkata,2013-03-10,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,Low Value Segment,4.829006e+05,1591.0
9984,85012902,M,2012/02/01,West,Gujarat,Surat,2013-03-10,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,Low Value Segment,2.711097e+05,1555.0
9985,14762484,M,2012/01/31,North,Madhya Pradesh,Indore,2012-12-11,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,Low Value Segment,2.033372e+06,4317.0
9986,69453769,M,2012/02/01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment,4.800000e+02,-570.0
9987,7060195,M,2012/02/02,West,Gujarat,Ahmedabad,2013-03-28,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment,2.007960e+04,645.0
9988,91095093,M,2012/02/01,South,Telangana,Hyderabad,2012-02-01,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment,8.259970e+02,55.0
9989,91098168,M,2012/02/01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment,4.080000e+02,0.0
9990,91227615,M,2012/02/03,West,Gujarat,Surat,2012-02-03,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment,6.170000e+02,35.0
9991,91136028,M,2012/02/03,West,Maharashtra,Mumbai,2012-05-23,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment,2.191901e+04,-360.0
9992,794622,F,2012/02/03,West,Gujarat,Surat,2012-05-08,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment,3.232400e+04,594.0
9993,91289992,M,2012/02/05,West,Maharashtra,Pimpri-Chinchwad,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment,1.069000e+03,81.0
9994,73876936,M,2012/02/05,West,Gujarat,Surat,2013-02-18,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment,4.029800e+04,647.0
9995,50093138,M,2012/02/08,North,Uttar Pradesh,Agra,2012-11-14,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Low Value Segment,9.673020e+04,-605.0
9996,92763145,M,2012/02/09,South,Telangana,Hyderabad,2013-03-19,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Low Value Segment,9.111550e+04,870.0
9997,73839417,M,2012/02/10,South,Karnataka,Bangalore,2013-02-16,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,Low Value Segment,4.846369e+05,1657.0
9998,69606859,M,2012/02/15,North,Uttar Pradesh,Lucknow,2012-02-15,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment,1.116000e+03,-310.0
9999,113292109,M,2012/02/17,West,Maharashtra,Mumbai,2012-02-17,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment,1.222000e+03,60.0

In [16]:
#8. How many days between last purchase date and today?

In [17]:
customer_data['First_Date']=pd.to_datetime(customer_data.First_Date)
customer_data['Recent_Date']=pd.to_datetime(customer_data.Recent_Date)
customer_data['Days_diff']=customer_data['Recent_Date']-customer_data['First_Date']

customer_data.head(20)

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,customer value segment,average revenue per trip,balance points,Days_diff
0,129609144,M,2013-01-30,West,Gujarat,Surat,2013-02-16,West,Gujarat,Surat,2032.000,2,200.0,0.0,Low Value Segment,4064.000,200.0,17 days
1,129627580,M,2013-01-29,North,Delhi,Delhi,2013-01-29,North,Delhi,Delhi,1709.000,1,100.0,0.0,Low Value Segment,1709.000,100.0,0 days
2,130363481,M,2013-02-21,West,Gujarat,Surat,2013-02-21,West,Gujarat,Surat,523.000,1,10.0,0.0,Low Value Segment,523.000,10.0,0 days
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,5132.000,1,170.0,0.0,Low Value Segment,5132.000,170.0,0 days
4,126343829,F,2013-03-01,North,Delhi,Delhi,2013-03-01,North,Delhi,Delhi,1008.000,1,60.0,0.0,Low Value Segment,1008.000,60.0,0 days
5,8223758,F,2013-03-14,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,2606.900,1,1140.0,0.0,Low Value Segment,2606.900,1140.0,0 days
6,131816709,M,2013-03-18,South,Andhra Pradesh,Visakhapatnam,2013-03-18,South,Andhra Pradesh,Visakhapatnam,1369.000,1,79.0,0.0,Low Value Segment,1369.000,79.0,0 days
7,118543320,F,2013-03-21,North,Uttar Pradesh,Kanpur,2013-03-21,North,Uttar Pradesh,Kanpur,5690.000,1,360.0,0.0,Low Value Segment,5690.000,360.0,0 days
8,131365512,M,2013-03-23,East,West Bengal,Kolkata,2013-03-31,East,West Bengal,Kolkata,2555.000,2,190.0,0.0,Low Value Segment,5110.000,190.0,8 days
9,758571,M,2013-03-24,South,Karnataka,Bangalore,2013-03-25,West,Maharashtra,Thane,2677.800,3,145.0,0.0,Low Value Segment,8033.400,145.0,1 days
10,85489184,M,2012-01-01,West,Maharashtra,Nagpur,2012-01-01,West,Maharashtra,Nagpur,855.000,1,35.0,0.0,Low Value Segment,855.000,35.0,0 days
11,85438231,M,2012-01-03,West,Maharashtra,Mumbai,2012-11-11,East,West Bengal,Bhatpara,5969.000,5,294.0,0.0,Low Value Segment,29845.000,294.0,313 days
12,74053888,F,2012-01-02,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,9142.497,10,639.0,2.0,Low Value Segment,91424.970,637.0,437 days
13,7256956,M,2012-01-02,North,Rajasthan,Jaipur,2012-11-26,North,Rajasthan,Jaipur,8019.600,5,609.0,0.0,Low Value Segment,40098.000,609.0,329 days
14,1610085,F,2012-01-03,North,Delhi,Delhi,2012-10-13,North,Delhi,Delhi,10380.199,6,1189.0,0.0,Low Value Segment,62281.194,1189.0,284 days
15,7518872,M,2012-01-04,North,Uttar Pradesh,Kanpur,2013-01-23,North,Uttar Pradesh,Kanpur,14587.000,6,865.0,0.0,Low Value Segment,87522.000,865.0,385 days
16,8638553,M,2012-01-03,West,Gujarat,Ahmedabad,2012-01-03,West,Gujarat,Ahmedabad,1011.000,1,115.0,0.0,Low Value Segment,1011.000,115.0,0 days
17,85438392,M,2012-01-03,West,Gujarat,Ahmedabad,2013-02-12,South,Telangana,Hyderabad,6065.300,5,485.0,0.0,Low Value Segment,30326.500,485.0,406 days
18,63508964,M,2012-01-06,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,145472.702,36,680.0,16635.0,Low Value Segment,5237017.272,-15955.0,413 days
19,23667984,F,2012-01-07,West,Maharashtra,Nagpur,2013-03-13,West,Maharashtra,Nagpur,19640.700,12,268.0,2549.0,Low Value Segment,235688.400,-2281.0,431 days

In [18]:
#9. Calculate percentage of sales by each last city, state and region.

In [19]:
customer_data.groupby(['Customer_ID','Last_city','Last_state','Last_region']).agg({'Customer_Value':'sum'})*100/customer_data.Customer_Value.sum()

                                                         Customer_Value
Customer_ID Last_city        Last_state     Last_region
585         Surat            Gujarat        West               4.079059
1670        Surat            Gujarat        West               0.064739
4271        Surat            Gujarat        West               0.001222
4435        Ahmedabad        Gujarat        West               0.013985
4468        Kanpur           Uttar Pradesh  North              0.019429
4784        Vijayawada       Andhra Pradesh South              0.132007
8589        Surat            Gujarat        West               0.000811
8784        Rajkot           Gujarat        West               0.000758
9176        Kolkata          West Bengal    East               0.001635
9361        Surat            Gujarat        West               0.001648
10176       Vadodara         Gujarat        West               0.001802
10588       Bangalore        Karnataka      South              0.085448
12937       Delhi            Delhi          North              0.001212
13367       Ahmedabad        Gujarat        West               0.682401
14861       Chennai          Tamil Nadu     South              0.004525
18233       Vijayawada       Andhra Pradesh South              0.025669
18493       Kanpur           Uttar Pradesh  North              0.016998
19700       Vadodara         Gujarat        West               0.002618
21879       Kanpur           Uttar Pradesh  North              0.010593
22164       Surat            Gujarat        West               0.029924
22602       Bangalore        Karnataka      South              0.013130
22998       Bhopal           Madhya Pradesh North              0.014712
24264       Surat            Gujarat        West               0.020325
24720       Mumbai           Maharashtra    West               0.025457
26645       Indore           Madhya Pradesh North              0.008578
28013       Vadodara         Gujarat        West               0.033030
28254       Kolkata          West Bengal    East               0.014928
28706       Bhopal           Madhya Pradesh North              0.008781
31691       Kolkata          West Bengal    East               0.007345
31707       Vadodara         Gujarat        West               0.000151
...                                                                 ...
132328186   Surat            Gujarat        West               0.000919
132333110   Rajkot           Gujarat        West               0.027335
132343360   Chennai          Tamil Nadu     South              0.000975
132351593   Bhopal           Madhya Pradesh North              0.000836
132352005   Kanpur           Uttar Pradesh  North              0.000906
132355687   Kanpur           Uttar Pradesh  North              0.003220
132369199   Surat            Gujarat        West               0.000479
132372398   Kanpur           Uttar Pradesh  North              0.000840
132379844   Bangalore        Karnataka      South              0.002072
132387925   Lucknow          Uttar Pradesh  North              0.000317
132390248   Surat            Gujarat        West               0.000605
132394411   Bangalore        Karnataka      South              0.000468
132408730   Bangalore        Karnataka      South              0.001395
132412229   Delhi            Delhi          North              0.000747
132414985   Kanpur           Uttar Pradesh  North              0.001452
132415908   Surat            Gujarat        West               0.000902
132418309   Chennai          Tamil Nadu     South              0.000616
132418691   Bangalore        Karnataka      South              0.001413
132418734   Delhi            Delhi          North              0.000238
132427466   Surat            Gujarat        West               0.000685
132428746   Surat            Gujarat        West               0.002819
132434332   Surat            Gujarat        West               0.000806
132436668   Surat            Gujarat        West               0.000993
132440541   Pimpri-Chinchwad Maharashtra    West               0.002080
132450091   Bangalore        Karnataka      South              0.000813
132452710   Delhi            Delhi          North              0.000439
132456295   Visakhapatnam    Andhra Pradesh South              0.000755
132464297   Surat            Gujarat        West               0.000873
132467898   Ahmedabad        Gujarat        West               0.001446
132473524   Bhopal           Madhya Pradesh North              0.000871

[9970 rows x 1 columns]

In [20]:
#10. What is the count of customers, average number of purchases and average purchase transaction value by last state 
#and city.

In [21]:
customer_data.groupby(['Last_state','Last_city']).agg({'Customer_ID':'count','Buy_Times':'mean','Customer_Value':'sum'})

                                   Customer_ID  Buy_Times  Customer_Value
Last_state        Last_city
Andhra Pradesh    Guntur                     1   3.000000    0.000000e+00
                  Kurnool                    1   4.000000    3.113499e+03
                  Tirupati                   2   6.000000    1.850000e+04
                  Vijayawada                20  10.100000    4.934020e+05
                  Visakhapatnam            117   4.666667    1.302811e+06
                  Vizianagaram               1  12.000000    2.304260e+04
Assam             Guwahati                  30  27.766667    1.946639e+06
Bihar             Begusarai                  1   9.000000    2.569800e+04
                  Bhagalpur                  1   3.000000    2.787799e+03
                  Katihar                    2  11.500000    5.860230e+04
                  Patna                     20   6.000000    2.313713e+05
                  Purnia                     1   4.000000    7.334000e+03
Chandigarh        Chandigarh                 6   4.000000    4.095980e+04
Chhattisgarh      Korba                      1   3.000000    2.786400e+03
                  Raipur                     1   3.000000    3.866000e+03
Delhi             Delhi                   1034   5.084139    1.072638e+07
                  Karawal Nagar              2   4.000000    9.786600e+03
                  New Delhi                  1   3.000000    2.660000e+03
Gujarat           Ahmedabad                621   5.661836    7.579145e+06
                  Gandhidham                 1   2.000000    2.089000e+03
                  Jamnagar                   6  10.166667    8.854460e+04
                  Rajkot                   235   8.685106    4.552105e+06
                  Surat                   2127   5.418430    3.102004e+07
                  Vadodara                 388   4.432990    3.732071e+06
Haryana           Gurgaon                    1  63.000000    1.578225e+05
                  Karnal                     1   2.000000    2.672000e+03
                  Sonipat                    1  13.000000    1.637500e+04
Jammu and Kashmir Srinagar                   1   4.000000    6.099000e+03
Jharkhand         Dhanbad                   18   4.777778    2.468102e+05
                  Jamshedpur                 1   2.000000    3.559999e+03
...                                        ...        ...             ...
Uttar Pradesh     Aligarh                    9   4.000000    3.187300e+04
                  Allahabad                  2   3.500000    5.583900e+03
                  Bareilly                   3   4.000000    3.518500e+04
                  Etawah                     1   9.000000    1.081200e+04
                  Firozabad                  4   6.750000    6.163070e+04
                  Ghaziabad                 27   6.592593    2.835531e+05
                  Gorakhpur                  4   2.750000    2.267480e+04
                  Kanpur                   854   4.956674    9.481904e+06
                  Loni                      10   4.500000    5.172280e+04
                  Lucknow                  219   3.785388    2.310132e+06
                  Mathura                    6   8.166667    9.978889e+04
                  Mau                        1   4.000000    7.174200e+03
                  Meerut                     7   4.428571    4.039560e+04
                  Mirzapur                   1   3.000000    4.881000e+03
                  Muzaffarnagar              2   4.500000    1.115720e+04
                  Noida                      1   6.000000    8.228600e+03
                  Rampur                     1   4.000000    9.923797e+03
                  Saharanpur                 2   9.500000    5.685250e+04
Uttarakhand       Dehradun                   1   2.000000    1.535001e+03
                  Haridwar                   1   6.000000    2.827160e+04
West Bengal       Asansol                    1   3.000000    3.794000e+03
                  Baranagar                  2   3.500000    1.994190e+04
                  Barasat                    1   2.000000    5.034895e+03
                  Bhatpara                   4  10.500000    7.942400e+04
                  Howrah                     3   4.333333    2.225290e+04
                  Kolkata                  543   6.046041    6.966638e+06
                  North Dumdum               3   3.333333    2.854420e+04
                  Panihati                   1   7.000000    6.923003e+03
                  Rajpur Sonarpur            2   2.000000    2.166000e+03
                  Siliguri                   1   4.000000    1.037900e+04

[116 rows x 3 columns]