# Data Handling

In [1]:
import pandas as pd
import pandas_profiling
import os
os.chdir("C:\\Users\\HP\Desktop\\AnalytixLabs\\PYTHON\\Python Class 5 files")

In [2]:
df=pd.read_excel("Superstore data.xlsx")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
REF_NO       22 non-null object
ORD_DTE      22 non-null object
CUST_NAME    21 non-null object
CATEGORY     22 non-null object
PRODUCT      22 non-null object
SALES        22 non-null float64
PROFIT       20 non-null float64
dtypes: float64(2), object(5)
memory usage: 1.3+ KB

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(22, 7)

In [6]:
df.shape[0]

22

In [7]:
df.shape[1]

7

In [8]:
df.size

154

In [9]:
df.columns

Index(['REF_NO', 'ORD_DTE', 'CUST_NAME', 'CATEGORY', 'PRODUCT', 'SALES',
       'PROFIT'],
      dtype='object')

In [10]:
df.dtypes

REF_NO        object
ORD_DTE       object
CUST_NAME     object
CATEGORY      object
PRODUCT       object
SALES        float64
PROFIT       float64
dtype: object

In [11]:
df.count()

REF_NO       22
ORD_DTE      22
CUST_NAME    21
CATEGORY     22
PRODUCT      22
SALES        22
PROFIT       20
dtype: int64

In [12]:
df.shape[0]

22

In [13]:
# % of null value in eeach row
1-df.count()/df.shape[0]

REF_NO       0.000000
ORD_DTE      0.000000
CUST_NAME    0.045455
CATEGORY     0.000000
PRODUCT      0.000000
SALES        0.000000
PROFIT       0.090909
dtype: float64

In [14]:
df.get_dtype_counts()

float64    2
object     5
dtype: int64

In [15]:
df.memory_usage()

Index         80
REF_NO       176
ORD_DTE      176
CUST_NAME    176
CATEGORY     176
PRODUCT      176
SALES        176
PROFIT       176
dtype: int64

In [16]:
df.describe()

             SALES       PROFIT
count    22.000000    20.000000
mean   4126.180364   773.409815
std    1897.228937  1772.227602
min    2104.550000 -3839.990400
25%    2751.954000   279.545850
50%    3884.880000   728.343000
75%    4643.800000  1586.971575
max    9449.950000  4630.475500

##  For Data Overview
### All The above stuff in one step

In [17]:
pandas_profiling.ProfileReport(df)

In [18]:
# Structure

In [19]:
# create a column
#df.assign(cost=df.SALES-df.PROFIT)
df["COST"]=df.SALES-df.PROFIT

In [20]:
df

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
0,CA-2012-124891,7/31/2012,Rick Hansen,Technology,Accessories,2309.650,762.1845,1547.4655
1,CA-2014-135909,10/14/2014,Jane Waco,Office Supplies,Binders,5083.960,1906.4850,3177.4750
2,CA-2012-116638,1/28/2012,Joseph Holt,Furniture,Tables,4297.644,-1862.3124,6159.9564
3,CA-2014-143567,11/3/2014,Thomas Boland,Technology,Accessories,2249.910,517.4793,1732.4307
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580
5,CA-2013-159016,3/11/2013,Karen Ferguson,Technology,Phones,4158.912,363.9048,3795.0072
6,CA-2012-139731,10/15/2012,Joel Eaton,Furniture,Chairs,2453.430,-350.4900,2803.9200
7,CA-2011-168494,12/12/2011,NaN,Furniture,Tables,3610.848,135.4068,3475.4412
8,CA-2011-160766,9/14/2011,Darrin Martin,Technology,Machines,2799.960,1371.9804,1427.9796
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.980,-3839.9904,11839.9704
10,CA-2011-116904,9/23/2011,Sanjit Chand,Office Supplies,Binders,9449.950,4630.4755,4819.4745
11,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,NaN,NaN
12,US-2014-135013,7/25/2014,Harold Ryan,Technology,Copiers,2399.960,839.9860,1559.9740
13,CA-2012-111829,3/19/2012,Fred Hopkins,Technology,Copiers,3149.930,1480.4671,1669.4629
14,CA-2014-129021,8/24/2014,Patrick Brill,Technology,Phones,4367.896,327.5922,4040.3038
15,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760
16,CA-2013-143805,12/2/2013,Jonathan Doherty,Office Supplies,Appliances,2104.550,694.5015,1410.0485
17,CA-2012-145352,3/16/2012,Christopher Martinez,Office Supplies,Binders,6354.950,3177.4750,3177.4750
18,CA-2014-138289,1/17/2014,Andy Reiter,Office Supplies,Binders,5443.960,NaN,NaN
19,CA-2014-118892,8/18/2014,Tom Prescott,Furniture,Chairs,4416.174,-630.8820,5047.0560
20,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,1143.8910,1906.4850
21,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760

In [21]:
# Filters
#df.head()
df[2:5]

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
2,CA-2012-116638,1/28/2012,Joseph Holt,Furniture,Tables,4297.644,-1862.3124,6159.9564
3,CA-2014-143567,11/3/2014,Thomas Boland,Technology,Accessories,2249.910,517.4793,1732.4307
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580

In [22]:
df[df.CATEGORY=="Technology"]

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
0,CA-2012-124891,7/31/2012,Rick Hansen,Technology,Accessories,2309.650,762.1845,1547.4655
3,CA-2014-143567,11/3/2014,Thomas Boland,Technology,Accessories,2249.910,517.4793,1732.4307
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580
5,CA-2013-159016,3/11/2013,Karen Ferguson,Technology,Phones,4158.912,363.9048,3795.0072
8,CA-2011-160766,9/14/2011,Darrin Martin,Technology,Machines,2799.960,1371.9804,1427.9796
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.980,-3839.9904,11839.9704
12,US-2014-135013,7/25/2014,Harold Ryan,Technology,Copiers,2399.960,839.9860,1559.9740
13,CA-2012-111829,3/19/2012,Fred Hopkins,Technology,Copiers,3149.930,1480.4671,1669.4629
14,CA-2014-129021,8/24/2014,Patrick Brill,Technology,Phones,4367.896,327.5922,4040.3038
15,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760
21,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760

In [23]:
df.sort_values(["SALES","PROFIT"],ascending=[True,False])

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
16,CA-2013-143805,12/2/2013,Jonathan Doherty,Office Supplies,Appliances,2104.550,694.5015,1410.0485
3,CA-2014-143567,11/3/2014,Thomas Boland,Technology,Accessories,2249.910,517.4793,1732.4307
0,CA-2012-124891,7/31/2012,Rick Hansen,Technology,Accessories,2309.650,762.1845,1547.4655
12,US-2014-135013,7/25/2014,Harold Ryan,Technology,Copiers,2399.960,839.9860,1559.9740
6,CA-2012-139731,10/15/2012,Joel Eaton,Furniture,Chairs,2453.430,-350.4900,2803.9200
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580
8,CA-2011-160766,9/14/2011,Darrin Martin,Technology,Machines,2799.960,1371.9804,1427.9796
20,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,1143.8910,1906.4850
11,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,NaN,NaN
13,CA-2012-111829,3/19/2012,Fred Hopkins,Technology,Copiers,3149.930,1480.4671,1669.4629
7,CA-2011-168494,12/12/2011,NaN,Furniture,Tables,3610.848,135.4068,3475.4412
5,CA-2013-159016,3/11/2013,Karen Ferguson,Technology,Phones,4158.912,363.9048,3795.0072
2,CA-2012-116638,1/28/2012,Joseph Holt,Furniture,Tables,4297.644,-1862.3124,6159.9564
14,CA-2014-129021,8/24/2014,Patrick Brill,Technology,Phones,4367.896,327.5922,4040.3038
19,CA-2014-118892,8/18/2014,Tom Prescott,Furniture,Chairs,4416.174,-630.8820,5047.0560
15,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760
21,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760
1,CA-2014-135909,10/14/2014,Jane Waco,Office Supplies,Binders,5083.960,1906.4850,3177.4750
18,CA-2014-138289,1/17/2014,Andy Reiter,Office Supplies,Binders,5443.960,NaN,NaN
17,CA-2012-145352,3/16/2012,Christopher Martinez,Office Supplies,Binders,6354.950,3177.4750,3177.4750
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.980,-3839.9904,11839.9704
10,CA-2011-116904,9/23/2011,Sanjit Chand,Office Supplies,Binders,9449.950,4630.4755,4819.4745

In [24]:
df[-df.duplicated()]

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
0,CA-2012-124891,7/31/2012,Rick Hansen,Technology,Accessories,2309.650,762.1845,1547.4655
1,CA-2014-135909,10/14/2014,Jane Waco,Office Supplies,Binders,5083.960,1906.4850,3177.4750
2,CA-2012-116638,1/28/2012,Joseph Holt,Furniture,Tables,4297.644,-1862.3124,6159.9564
3,CA-2014-143567,11/3/2014,Thomas Boland,Technology,Accessories,2249.910,517.4793,1732.4307
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580
5,CA-2013-159016,3/11/2013,Karen Ferguson,Technology,Phones,4158.912,363.9048,3795.0072
6,CA-2012-139731,10/15/2012,Joel Eaton,Furniture,Chairs,2453.430,-350.4900,2803.9200
7,CA-2011-168494,12/12/2011,NaN,Furniture,Tables,3610.848,135.4068,3475.4412
8,CA-2011-160766,9/14/2011,Darrin Martin,Technology,Machines,2799.960,1371.9804,1427.9796
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.980,-3839.9904,11839.9704
10,CA-2011-116904,9/23/2011,Sanjit Chand,Office Supplies,Binders,9449.950,4630.4755,4819.4745
11,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,NaN,NaN
12,US-2014-135013,7/25/2014,Harold Ryan,Technology,Copiers,2399.960,839.9860,1559.9740
13,CA-2012-111829,3/19/2012,Fred Hopkins,Technology,Copiers,3149.930,1480.4671,1669.4629
14,CA-2014-129021,8/24/2014,Patrick Brill,Technology,Phones,4367.896,327.5922,4040.3038
15,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760
16,CA-2013-143805,12/2/2013,Jonathan Doherty,Office Supplies,Appliances,2104.550,694.5015,1410.0485
17,CA-2012-145352,3/16/2012,Christopher Martinez,Office Supplies,Binders,6354.950,3177.4750,3177.4750
18,CA-2014-138289,1/17/2014,Andy Reiter,Office Supplies,Binders,5443.960,NaN,NaN
19,CA-2014-118892,8/18/2014,Tom Prescott,Furniture,Chairs,4416.174,-630.8820,5047.0560
20,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,1143.8910,1906.4850

In [25]:
df.loc[(-df.CATEGORY.duplicated())|(-df.PRODUCT.duplicated()),["CATEGORY","PRODUCT"]].sort_values(["CATEGORY","PRODUCT"])

           CATEGORY      PRODUCT
6         Furniture       Chairs
2         Furniture       Tables
16  Office Supplies   Appliances
1   Office Supplies      Binders
0        Technology  Accessories
12       Technology      Copiers
8        Technology     Machines
4        Technology       Phones

In [26]:
df.loc[(df.PROFIT<0)]

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
2,CA-2012-116638,1/28/2012,Joseph Holt,Furniture,Tables,4297.644,-1862.3124,6159.9564
6,CA-2012-139731,10/15/2012,Joel Eaton,Furniture,Chairs,2453.430,-350.4900,2803.9200
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.980,-3839.9904,11839.9704
19,CA-2014-118892,8/18/2014,Tom Prescott,Furniture,Chairs,4416.174,-630.8820,5047.0560

In [27]:
df.loc[(df.CATEGORY=="Technology")]

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
0,CA-2012-124891,7/31/2012,Rick Hansen,Technology,Accessories,2309.650,762.1845,1547.4655
3,CA-2014-143567,11/3/2014,Thomas Boland,Technology,Accessories,2249.910,517.4793,1732.4307
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580
5,CA-2013-159016,3/11/2013,Karen Ferguson,Technology,Phones,4158.912,363.9048,3795.0072
8,CA-2011-160766,9/14/2011,Darrin Martin,Technology,Machines,2799.960,1371.9804,1427.9796
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.980,-3839.9904,11839.9704
12,US-2014-135013,7/25/2014,Harold Ryan,Technology,Copiers,2399.960,839.9860,1559.9740
13,CA-2012-111829,3/19/2012,Fred Hopkins,Technology,Copiers,3149.930,1480.4671,1669.4629
14,CA-2014-129021,8/24/2014,Patrick Brill,Technology,Phones,4367.896,327.5922,4040.3038
15,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760
21,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760

In [28]:
df.loc[(df.CATEGORY=="Technology") & (df.PROFIT<0)]

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.98,-3839.9904,11839.9704

In [29]:
df.loc[(df.PRODUCT=="Tables")|(df.PRODUCT=="Phones")|(df.PRODUCT=="Appliances")]

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
2,CA-2012-116638,1/28/2012,Joseph Holt,Furniture,Tables,4297.644,-1862.3124,6159.9564
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580
5,CA-2013-159016,3/11/2013,Karen Ferguson,Technology,Phones,4158.912,363.9048,3795.0072
7,CA-2011-168494,12/12/2011,NaN,Furniture,Tables,3610.848,135.4068,3475.4412
14,CA-2014-129021,8/24/2014,Patrick Brill,Technology,Phones,4367.896,327.5922,4040.3038
16,CA-2013-143805,12/2/2013,Jonathan Doherty,Office Supplies,Appliances,2104.550,694.5015,1410.0485

In [30]:
df.loc[-(df.PRODUCT=="Tables")]

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
0,CA-2012-124891,7/31/2012,Rick Hansen,Technology,Accessories,2309.650,762.1845,1547.4655
1,CA-2014-135909,10/14/2014,Jane Waco,Office Supplies,Binders,5083.960,1906.4850,3177.4750
3,CA-2014-143567,11/3/2014,Thomas Boland,Technology,Accessories,2249.910,517.4793,1732.4307
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580
5,CA-2013-159016,3/11/2013,Karen Ferguson,Technology,Phones,4158.912,363.9048,3795.0072
6,CA-2012-139731,10/15/2012,Joel Eaton,Furniture,Chairs,2453.430,-350.4900,2803.9200
8,CA-2011-160766,9/14/2011,Darrin Martin,Technology,Machines,2799.960,1371.9804,1427.9796
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.980,-3839.9904,11839.9704
10,CA-2011-116904,9/23/2011,Sanjit Chand,Office Supplies,Binders,9449.950,4630.4755,4819.4745
11,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,NaN,NaN
12,US-2014-135013,7/25/2014,Harold Ryan,Technology,Copiers,2399.960,839.9860,1559.9740
13,CA-2012-111829,3/19/2012,Fred Hopkins,Technology,Copiers,3149.930,1480.4671,1669.4629
14,CA-2014-129021,8/24/2014,Patrick Brill,Technology,Phones,4367.896,327.5922,4040.3038
15,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760
16,CA-2013-143805,12/2/2013,Jonathan Doherty,Office Supplies,Appliances,2104.550,694.5015,1410.0485
17,CA-2012-145352,3/16/2012,Christopher Martinez,Office Supplies,Binders,6354.950,3177.4750,3177.4750
18,CA-2014-138289,1/17/2014,Andy Reiter,Office Supplies,Binders,5443.960,NaN,NaN
19,CA-2014-118892,8/18/2014,Tom Prescott,Furniture,Chairs,4416.174,-630.8820,5047.0560
20,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,1143.8910,1906.4850
21,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760

In [31]:
#df

In [32]:
#df.dropna()

In [33]:
df.dropna(axis=0,how="any")

,REF_NO,ORD_DTE,CUST_NAME,CATEGORY,PRODUCT,SALES,PROFIT,COST
0,CA-2012-124891,7/31/2012,Rick Hansen,Technology,Accessories,2309.650,762.1845,1547.4655
1,CA-2014-135909,10/14/2014,Jane Waco,Office Supplies,Binders,5083.960,1906.4850,3177.4750
2,CA-2012-116638,1/28/2012,Joseph Holt,Furniture,Tables,4297.644,-1862.3124,6159.9564
3,CA-2014-143567,11/3/2014,Thomas Boland,Technology,Accessories,2249.910,517.4793,1732.4307
4,CA-2011-154627,10/29/2011,Sue Ann Reed,Technology,Phones,2735.952,341.9940,2393.9580
5,CA-2013-159016,3/11/2013,Karen Ferguson,Technology,Phones,4158.912,363.9048,3795.0072
6,CA-2012-139731,10/15/2012,Joel Eaton,Furniture,Chairs,2453.430,-350.4900,2803.9200
8,CA-2011-160766,9/14/2011,Darrin Martin,Technology,Machines,2799.960,1371.9804,1427.9796
9,US-2014-168116,11/5/2014,Grant Thornton,Technology,Machines,7999.980,-3839.9904,11839.9704
10,CA-2011-116904,9/23/2011,Sanjit Chand,Office Supplies,Binders,9449.950,4630.4755,4819.4745
12,US-2014-135013,7/25/2014,Harold Ryan,Technology,Copiers,2399.960,839.9860,1559.9740
13,CA-2012-111829,3/19/2012,Fred Hopkins,Technology,Copiers,3149.930,1480.4671,1669.4629
14,CA-2014-129021,8/24/2014,Patrick Brill,Technology,Phones,4367.896,327.5922,4040.3038
15,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760
16,CA-2013-143805,12/2/2013,Jonathan Doherty,Office Supplies,Appliances,2104.550,694.5015,1410.0485
17,CA-2012-145352,3/16/2012,Christopher Martinez,Office Supplies,Binders,6354.950,3177.4750,3177.4750
19,CA-2014-118892,8/18/2014,Tom Prescott,Furniture,Chairs,4416.174,-630.8820,5047.0560
20,US-2012-163825,6/16/2012,Lena Creighton,Office Supplies,Binders,3050.376,1143.8910,1906.4850
21,CA-2012-114811,11/8/2012,Keith Dawkins,Technology,Machines,4643.800,2229.0240,2414.7760

In [34]:
df["COST1"]=df.COST.fillna(df.COST.mean())

In [35]:
#df

In [36]:
pd.cut(df.SALES,4,labels=["B1","B2","B3","B4"])
df["BINS"]=pd.cut(df.SALES,range(1000,10001,1000))

In [37]:
df[["BINS","SALES"]]

             BINS     SALES
0    (2000, 3000]  2309.650
1    (5000, 6000]  5083.960
2    (4000, 5000]  4297.644
3    (2000, 3000]  2249.910
4    (2000, 3000]  2735.952
5    (4000, 5000]  4158.912
6    (2000, 3000]  2453.430
7    (3000, 4000]  3610.848
8    (2000, 3000]  2799.960
9    (7000, 8000]  7999.980
10  (9000, 10000]  9449.950
11   (3000, 4000]  3050.376
12   (2000, 3000]  2399.960
13   (3000, 4000]  3149.930
14   (4000, 5000]  4367.896
15   (4000, 5000]  4643.800
16   (2000, 3000]  2104.550
17   (6000, 7000]  6354.950
18   (5000, 6000]  5443.960
19   (4000, 5000]  4416.174
20   (3000, 4000]  3050.376
21   (4000, 5000]  4643.800